@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  margin: 0;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: auto;
  background: white;
  height: 100vh;
  inset: 0;
  z-index: 2;
  opacity: 0.95;
  transform-origin: top;
  animation: loader 0.2s forwards;
  animation-delay: 2s;
}

.loader p {
  font-family: Shrikhand;
  font-size: xx-large;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    to top,
    rgba(172, 85, 222, 0.9),
    rgba(212, 46, 212, 0.9)
  );
  animation: rotation 2s;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 5px;
  padding-top: 15px;
  margin-bottom: 4px;
  box-shadow: 0px 4px 5px 0px rgb(216, 216, 216);
}

.logo img {
  width: 40%;
}

.geolocalisation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  background-color: rgb(240, 239, 239);
  padding-left: 20px;
}

.geolocalisation input {
  background: transparent;
  border: none;
}

.geolocalisation ::placeholder {
  color: black;
}
.geoglobal {
  display: flex;
  align-items: center;
  width: 45%;
}

.iconegeo {
  display: flex;
}

.ville {
  display: flex;
  padding-top: 2px;
  margin-left: 20px;
  font-family: roboto;
}

#Explications {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.exploration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-top: 15px;
  background-color: rgb(249, 249, 249);
}

.exploration h3 {
  display: flex;
  justify-content: center;
  width: 55%;
  font-family: roboto;
  font-size: x-large;
  margin-bottom: 10px;
}

.exploration p {
  width: 60%;
  margin-top: 0px;
  font-family: roboto;
  font-size: medium;
  color: gray;
}

.exploration button {
  font-family: roboto;
  font-size: medium;
  color: white;
  border: 1px solid transparent;
  padding: 10px 15px;
  margin-top: 10px;
  margin-bottom: 55px;
  border-radius: 20px 20px;
  background-image: linear-gradient(
    to top,
    rgba(172, 85, 222, 0.9),
    rgba(212, 46, 212, 0.9)
  );
  border: 0;
  box-shadow: 2px 1px 7px 0px grey;
  cursor: pointer;
  transition: transform 450ms, background-color 300ms;
  transition-timing-function: ease-in-out;
}

.exploration button:hover {
  opacity: 0.8;
  box-shadow: 2px 1px 7px 0px rgb(28, 27, 27);
}

#Fonctionnement {
  padding-bottom: 30px;
}

#Fonctionnement h3 {
  display: flex;
  font-family: roboto;
  font-size: 20px;
  padding-top: 25px;
  padding-bottom: 10px;
  padding-left: 20px;
}

#Fonctionnement a {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 35px;
  height: 60px;
  width: 90%;
  text-decoration: none;
  color: black;
  margin-left: 25px;
  margin-bottom: 20px;
  background-color: rgb(249, 249, 249);
  border-radius: 15px 15px;
  position: relative;
  box-shadow: 5px 7px 4px 1px rgb(235, 235, 235);
}

#Fonctionnement a:hover {
  background-color: rgb(226, 235, 250);
}

#Fonctionnement p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: roboto;
  font-size: 10px;
  color: white;
  background-color: #9356dc;
  width: 20px;
  height: 20px;
  position: absolute;
  left: -8px;
  border-radius: 100% 100% 100% 100%;
}

#Fonctionnement i {
  padding-left: 40px;
  display: flex;
  color: gray;
}

#Fonctionnement i:hover {
  color: #9356dc;
}

#Fonctionnement h4 {
  font-family: roboto;
  font-size: medium;
  padding-top: 2px;
}

#Restaurants {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(240, 239, 239);
  padding-top: 5px;
  padding-bottom: 25px;
}

#Restaurants h3 {
  display: flex;
  flex-direction: row;
  font-family: roboto;
  font-size: 20px;
  padding-top: 25px;
  padding-bottom: 10px;
  padding-left: 25px;
}

#Restaurants a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
}

.lapalettedugout,
.lanoteenchantee,
.alafrancaise,
.ledelicedessens {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 90%;
  box-shadow: 3px 3px 3px 3px rgb(216, 215, 215);
  border-radius: 20px;
  margin-bottom: 20px;
}

#Restaurants .card-head {
  position: relative;
}

#Restaurants .card-head div {
  position: absolute;
  top: 20px;
  right: 20px;
  color: rgb(74, 175, 148);
  background: #99e2d0;
  font-family: roboto;
  padding: 5px 10px;
  border-radius: 2px 2px;
}

#Restaurants img {
  display: flex;
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

.coeur {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 20%;
  font-size: x-large;
  margin-left: auto;
}

.coeur .fa-solid {
  position: absolute;
  opacity: 0;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    to top,
    rgba(172, 85, 222, 0.9),
    rgba(212, 46, 212, 0.9)
  );
}

.coeur .fa-solid:hover {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.descrirestaurants {
  display: flex;
  margin-top: -6px;
}

#Restaurants h4,
#Restaurants p {
  margin-left: 15px;
}

#Restaurants h4 {
  font-family: roboto;
  font-size: 20px;
  margin-bottom: -10px;
}

#Restaurants p {
  display: flex;
  font-family: roboto;
  font-size: 15px;
  color: gray;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: rgb(53, 51, 51);
  padding-top: 10px;
  padding-bottom: 20px;
}

footer span {
  display: flex;
  font-family: Shrikhand;
  font-size: 20px;
  color: white;
  padding-top: 20px;
  padding-left: 35px;
}

footer ul {
  padding: 0px;
}

footer a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  margin-left: 35px;
  font-family: roboto;
  font-size: 15px;
  margin-bottom: -10px;
}

footer i {
  margin-right: 20px;
}

.propositionrestaurant h4 {
  padding-left: 4px;
}

footer li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -15px;
  align-items: center;
}

/* Version tablette accueil*/
@media screen and (min-width: 769px) and (max-width: 991px) {
  /* Centrage bloc geolocalisation */
  .geoglobal {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .exploration p {
    width: 50%;
  }

  #Fonctionnement {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
  }

  #Fonctionnement div {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  #Fonctionnement a {
    display: flex;
    justify-content: space-evenly;
    gap: 0;
    width: 90%;
    margin-left: 0px;
    margin-bottom: 0px;
    text-decoration: none;
    background-color: rgb(249, 249, 249);
    border-radius: 15px 15px;
    position: relative;
    box-shadow: 5px 7px 4px 1px rgb(235, 235, 235);
  }

  #Fonctionnement p {
    left: 45%;
    bottom: 38px;
    height: 25px;
    width: 25px;
  }

  #Fonctionnement i {
    padding-left: 10px;
  }

  #Fonctionnement h4 {
    padding-right: 12px;
  }

  #Restaurants {
    flex-direction: row;
    gap: 10px;

    padding-bottom: 50px;
  }

  #Restaurants a {
    width: 50%;
  }

  .bloc1,
  .bloc2 {
    display: flex;
  }

  footer {
    border: 1px solid green;
  }
}

/* Version desktop accueil */
@media screen and (min-width: 992px) {
  .logo img {
    width: 20%;
  }
  .geoglobal {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .exploration p {
    width: 50%;
  }

  .exploration button {
    transform: scale(1);
  }

  .exploration button:hover {
    transform: scale(1.05);
  }
  #Fonctionnement {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
  }

  #Fonctionnement div {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }

  #Fonctionnement a {
    display: flex;
    justify-content: space-evenly;
    gap: 0;
    width: 90%;
    margin-left: 0px;
    text-decoration: none;
    background-color: rgb(249, 249, 249);
    border-radius: 15px 15px;
    position: relative;
    box-shadow: 5px 7px 4px 1px rgb(235, 235, 235);
  }

  #Fonctionnement p {
    left: 45%;
    bottom: 38px;
    height: 25px;
    width: 25px;
  }

  #Fonctionnement i {
    padding-left: 10px;
  }

  #Fonctionnement h3,
  #Restaurants h3 {
    margin-left: 20px;
    padding-bottom: 0;
    font-size: 23px;
  }

  #Fonctionnement h3 {
    padding-bottom: 20px;
  }

  #Fonctionnement h4 {
    padding-right: 12px;
  }

  #Restaurants {
    padding-bottom: 50px;
  }

  #Restaurants a {
    width: 50%;
    padding-top: 30px;
  }

  .bloc1,
  .bloc2 {
    display: flex;
  }
  footer {
    display: flex;
    flex-direction: row;
  }
}

/* MENUS VERSION MOBILE */

.logomenu {
  display: inline-block;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 15px;
  box-shadow: none;
  position: relative; /* Permet d'ajuster la flèche (i)*/
}

.logomenu img {
  width: 40%;
}

.photomenu img {
  display: flex;
  object-fit: cover;
  height: 300px;
  width: 100%;
}

.logomenu a {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: absolute;
  display: flex;
  left: 40px;
  top: 40%;
  text-decoration: none;
  background-color: white;
  border: none;
}

.logomenu i {
  font-size: 20px;
  color: black;
}

#descriglobalmenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(226, 224, 224);
  margin-top: -65px;
  position: relative;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

#descriglobalmenu h2 {
  font-family: Shrikhand;
}

.globalvert {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  margin-bottom: 15px;
}

.vert {
  flex-wrap: nowrap;
  width: 45px;
  height: 3px;
  margin-top: -10px;
  background: #99e2d0;
}

.titrecoeur {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
  box-sizing: border-box;
  font-size: large;
}

.titrecoeur h2 {
  margin-left: 10px;
}

.titrecoeur i {
  font-size: x-large;
}

.entreesglobal,
.platsglobal,
.dessertsglobal {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.troisentrees h3,
.troisplats h3,
.troisdesserts h3 {
  font-family: Roboto;
  color: gray;
}

.troisentrees,
.troisplats,
.troisdesserts {
  display: flex;
  flex-direction: column;
}

.entree,
.plat,
.dessert {
  display: flex;
  justify-content: space-between;
  background-color: white;
  cursor: pointer;
  margin-bottom: 15px;
  padding-left: 15px;
  font-family: roboto;
  width: 90%;
  border-radius: 20px 20px;
  overflow: hidden;
}

.descrientree,
.descriplat,
.descridessert {
  flex-direction: column;
  overflow: hidden;
  width: 70%;
  white-space: nowrap;
}

.descrientree h4,
.descriplat h4,
.descridessert h4 {
  margin-bottom: 5px;
  margin-top: 17px;
  font-size: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.descrientree p,
.descriplat p,
.descridessert p {
  margin-top: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 16px;
  color: rgb(92, 92, 92);
}

.prix {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.prix p {
  margin-right: 20px;
}

.animenu {
  background: #99e2d0;
  width: 0px;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: width 0.2s ease-in-out;
}

.animenu i {
  font-size: 30px;
  color: white;
  opacity: 0;
}

.animenu:hover {
  visibility: visible;
}

.boutonmenu {
  display: flex;
  justify-content: center;
}

#descriglobalmenu button {
  font-family: roboto;
  font-size: medium;
  color: white;
  border: 1px solid transparent;
  padding: 10px 15px;
  margin-top: 10px;
  margin-bottom: 55px;
  border-radius: 20px 20px;
  background-image: linear-gradient(
    to top,
    rgba(172, 85, 222, 0.9),
    rgba(212, 46, 212, 0.9)
  );
  box-shadow: 2px 1px 7px 0px grey;
  width: 150px;
  border: 0;
  cursor: pointer;
  transition: transform 450ms, background-color 400ms;
  transition-timing-function: ease-in-out;
}

#descriglobalmenu button:hover {
  opacity: 0.8;
  box-shadow: 2px 1px 7px 0px rgb(28, 27, 27);
}

/* css des menus version tablette */
@media screen and (min-width: 769px) and (max-width: 991px) {
  .titrecoeur h2 {
    margin-left: 20px;
  }

  .logomenu img {
    width: 30%;
  }

  .globalvert {
    margin-left: 40px;
  }
}

/* css des menus version desktop */
@media screen and (min-width: 992px) {
  .logomenu img {
    width: 20%;
  }
  .titrecoeur {
    padding-left: 65px;
  }

  .titrecoeur i {
    margin-left: 100px;
  }

  #descriglobalmenu {
    padding-left: 10px;
    padding-right: 10px;
  }

  #Paletteglobal {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
  }

  .globalvert {
    margin-left: 0;
  }

  .troisentrees h3,
  .troisplats h3,
  .troisdesserts h3,
  .vert {
    font-family: Roboto;
    padding-left: 20px;
    font-size: 18px;
    color: gray;
  }

  .vert {
    margin-left: 20px;
    width: 15px;
  }

  #descriglobalmenu button {
    transform: scale(1);
  }
  .troisentrees,
  .troisplats,
  .troisdesserts {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .descrientree h4,
  .descriplat h4,
  .descridessert h4 {
    font-size: 19px;
  }

  .descrientree p,
  .descriplat p,
  .descridessert p {
    font-size: 15px;
  }

  #descriglobalmenu button:hover {
    transform: scale(1.05);
  }

  .boutonmenu {
    display: flex;
  }
  footer {
    display: flex;
    flex-direction: column;
  }
}

/* ANIMATIONS */

/* Animation apparition progressive des menus*/
@keyframes progression {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

.troisentrees {
  animation: progression 1s ease-in-out;
}

.troisplats {
  animation: progression 1.5s ease-in-out;
}

.troisdesserts {
  animation: progression 2s ease-in-out;
}

/* Animation déroulant prix*/
@keyframes deroulant {
  from {
    width: 0;
  }

  to {
    width: 100px;
  }
}

.entree:hover .animenu,
.plat:hover .animenu,
.dessert:hover .animenu {
  width: 100px;
}

@keyframes rotation {
  from {
    opacity: 0;
    transform: rotate(0deg);
  }
  to {
    opacity: 1;
    transform: rotate(360deg);
  }
}
.entree:hover .animenu i,
.plat:hover .animenu i,
.dessert:hover .animenu i {
  animation: rotation 0.2s forwards;
}

/* Animation loader*/

@keyframes loader {
  from {
    opacity: 0.95;
  }

  to {
    opacity: 0;
    visibility: hidden;
  }
}
