@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  margin: 0;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 5px;
  padding-top: 15px;
  margin-bottom: 4px;
  box-shadow: 0px 4px 0px 0px rgb(216, 216, 216);
}

.logo img {
  width: 40%;
}

.geolocalisation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  background-color: rgb(240, 239, 239);
  padding-left: 20px;
}

.geolocalisation input {
  background: transparent;
  border: none;
}

.geolocalisation ::placeholder {
  color: black;
}
.geoglobal {
  display: flex;
  align-items: center;
  width: 45%;
}

.iconegeo {
  display: flex;
}

.ville {
  display: flex;
  padding-top: 2px;
  margin-left: 20px;
  font-family: roboto;
}

#Explications {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.exploration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-top: 15px;
  background-color: rgb(249, 249, 249);
}

.exploration h3 {
  display: flex;
  justify-content: center;
  width: 55%;
  font-family: roboto;
  font-size: x-large;
  margin-bottom: 10px;
}

.exploration p {
  display: flex;
  width: 60%;
  margin-top: 0px;
  font-family: roboto;
  font-size: medium;
  color: gray;
}

.exploration button {
  font-family: roboto;
  font-size: medium;
  color: white;
  border: 1px solid transparent;
  padding: 10px 15px;
  margin-top: 10px;
  margin-bottom: 55px;
  border-radius: 20px 20px;
  background-image: linear-gradient(
    to top,
    rgba(172, 85, 222, 0.9),
    rgba(212, 46, 212, 0.9)
  );
  box-shadow: 2px 1px 7px 0px grey;
  cursor: pointer;
}

.exploration button:hover {
  background-image: linear-gradient(
    to top,
    rgba(219, 174, 245, 0.9),
    rgba(251, 158, 251, 0.9)
  );
  box-shadow: 2px 1px 7px 0px rgb(28, 27, 27);
}

#Fonctionnement {
  padding-bottom: 30px;
}
#Fonctionnement h3 {
  display: flex;
  font-family: roboto;
  padding-top: 25px;
  padding-bottom: 10px;
  padding-left: 20px;
}

#Fonctionnement a
 {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 35px;
  height: 60px;
  width: 90%;
  text-decoration: none;
  color: black;
  margin-left: 25px;
  margin-bottom: 20px;
  background-color: rgb(249, 249, 249);
  border-radius: 15px 15px;
  position: relative;
  box-shadow: 5px 7px 4px 1px rgb(235, 235, 235);
}

#Fonctionnement p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: roboto;
  font-size: 10px;
  color: white;
  background-color: #9356dc;
  width: 20px;
  height: 20px;
  position: absolute;
  left: -8px;
  border-radius: 100% 100% 100% 100%;
}

#Fonctionnement i
 {
  padding-left: 40px;
  display: flex;
  color: gray;
}

#Fonctionnement h4 {
  font-family: roboto;
  font-size: medium;
  padding-top: 2px;
}

#Restaurants {
  background-color: rgb(240, 239, 239);
  padding-top: 5px;
  padding-bottom: 25px;
}

#Restaurants h3 {
  display: flex;
  flex-direction: row;
  font-family: roboto;
  padding-top: 25px;
  padding-bottom: 10px;
  padding-left: 25px;
}

#Restaurants a {
  text-decoration: none;
  color: black;
}

.lapalettedugout,
.lanoteenchantee,
.alafrancaise,
.ledelicedessens {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 90%;
  margin-left: 24px;
  box-shadow: 3px 3px 3px 3px rgb(216, 215, 215);
  border-radius: 20px;
  margin-bottom: 20px;
}

#Restaurants .card-head {
  position: relative;
}

#Restaurants .card-head div {
  position: absolute;
  top: 20px;
  right: 20px;
  color: rgb(74, 175, 148);
  background: rgb(195, 244, 231);
  font-family: roboto;
  padding: 5px 10px;
  border-radius: 2px 2px;
}

#Restaurants img {
  display: flex;
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

.coeur {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 20%;
  font-size: x-large;
  margin-left: auto;
  margin-top: 10px;
}

.descrirestaurants {
  display: flex;
  margin-top: -6px;
}

#Restaurants h4,
#Restaurants p {
  margin-left: 15px;
}
#Restaurants h4 {
  font-family: roboto;
  font-size: 15px;
  margin-bottom: -10px;
}

#Restaurants p {
  display: flex;
  font-family: roboto;
  font-size: 13px;
  color: gray;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: rgb(53, 51, 51);
  padding-top: 10px;
  padding-bottom: 20px;
}

footer a {
  text-decoration: none;
  color: white;
  margin-left: 15px;
  font-family: roboto;
  font-size: 15px;
  margin-bottom: -10px;
}

footer h3 {
  font-family: Shrikhand;
  color: white;
  margin-left: 20px;
}

footer div {
  display: flex;
  margin-top: -15px;
  padding-left: 5px;
  align-items: center;
  gap: 10px;
}

/* Version tablette */

@media screen and (min-width: 769px) and (max-width: 991px) {
  /* IMPACTS A GARDER */

.logo {
    border: 1px solid blue;
}

/* Centrage bloc geolocalisation */
.geoglobal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.exploration p{
  width: 50%;
}

#Fonctionnement {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

#Fonctionnement div {
display: flex;
justify-content: space-evenly;
width: 100%;

}

#Fonctionnement a{
  display: flex;
  justify-content: space-around;
  gap: 0;
  width: 90%;
  margin-left: 0px;
  margin-bottom: 0px;
  text-decoration: none;
  background-color: rgb(249, 249, 249);
  border-radius: 15px 15px;
  position: relative;
  box-shadow: 5px 7px 4px 1px rgb(235, 235, 235);
}

#Fonctionnement p {
  display: flex;
  flex-direction: column;
  flex-wrap: inherit;
  left: 110px;
  bottom: 38px;
  height: 25px;
  width: 25px;
}

#Fonctionnement i
 {padding-left: 10px;
}

#Fonctionnement h4 {
  padding-right: 12px;
}